.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .carusel-font {               
      margin-top: 0;
      margin-bottom: .5rem;
      font-weight: 500;
      line-height: 1.2;
      color: var(--bs-heading-color);
      text-shadow: 2px 2px #6c757d;
  }

  .embeded-image {
    background-image:url("img/app-dev-bgr.png");
    background-repeat: no-repeat;
    color:azure;
    background-size: cover;
}
.main-post{
    height: 440px;
}
.products {
    text-align: center;
}
.gallery-image{
    background-size: cover;
}
.featurette-heading {
    margin-top: 2rem;
    font-size: 50px;
}
.bg-gradient-primary-to-secondary {
    /*border-radius: 5vm;*/
    background: #1e30f3;
    background: linear-gradient(135deg, #182652 0%, #adb5bd 100%);
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding: calc(var(--bs-gutter-x) * .5);

    margin-right: auto;
    margin-left: auto;
}

.container-navbar {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding: calc(var(--bs-gutter-x) * .1);

    margin-right: auto;
    margin-left: auto;
}

.profile {
    position: relative;
    /*height: 75vw;
    width: 75vw;*/
    border-radius: 5vw;
    
    max-height: 40rem;
    max-width: 40rem;
}
@media (min-width: 576px) {
.profile {
    height: 80vw;
    width: 80vw;
}
}
@media (min-width: 768px) {
.profile {
    height: 80vw;
    width: 80vw;
}
.col-md-7 {
    flex: 0 0 auto;
    width: 90%;
}
}


@media (min-width: 992px) {
.profile {
    height: 32vw;
    width: 32vw;
}
.col-md-7 {
    flex: 0 0 auto;
    width: 59%;
}
.profile .profile-img {
    height: 45vw;
}} 
@media (min-width: 1560px) {
.profile {
    height: 27vw;
    width: 27vw;
}
.col-md-7 {
    flex: 0 0 auto;
    width: 59%;
}
.profile .profile-img {
    height: 45vw;
}} 
@media (min-width: 1960px) {
.profile {
    height: 25vw;
    width: 25vw;
}
.col-md-7 {
    flex: 0 0 auto;
    width: 59%;
}
.profile .profile-img {
    height: 45vw;
}} 
@media (min-width: 2130px) {
.profile {
    height: 24vw;
    width: 24vw;
}
.col-md-7 {
    flex: 0 0 auto;
    width: 59%;
}
.profile .profile-img {
    height: 45vw;
}}